[build]
builder = "NIXPACKS"

[deploy]
startCommand = "cd out && dotnet FamilyTogether.API.dll"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
